%html:5
  %html(lang="en")
  %meta(charset="UTF-8")
  %title Nadine Caldeira
  %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")/
  %link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Lobster|Roboto+Condensed.css")/
  %link(rel="stylesheet" href="style.css")

  %header.wrap#home
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        %ul.nav.navbar-nav.navbar-right
          %li>
            %a(href="#") HOME
          %li>
            %a(href="about-me") ABOUT ME
          %li>
            %a(href="#") SKILLS
          %li>
            %a(href="#") PROJECTS

  .jumbotron
    .container#hdr-container
      %h1.hdr-title>
        %span#name Hi, I'm Nadinne.
        %p#tagline
          I 
          %span.job design interfaces 
          %br/
          and 
          %span.job develop websites
          \.

  .container#about-me
    .row